* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

header > * {
  display: inline-block;
}

header div img {
  margin: 0 0.5rem;
}

h1 {
  margin: 3.5rem 3rem 0;
  font-size: 7rem;
  font-weight: 400;
  font-family: "Just Another Hand", cursive;
}

body {
    max-width: 800px;
    display: block;
    margin: auto;
    text-align: center;
}

*[hidden] {
  visibility: hidden;
}

#gaming-area {
  position: relative;
}

#gaming-area .cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#game {
  width: 100%;
}

#start {
  width: 188px;
  height: 45px;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: 'Press Start 2P', cursive;
  background: transparent;
  background-image: url(../imgs/ButtonShort.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.notice {
  color: white;
  max-width: 90%;
  align-self: center;
  font-family: 'Press Start 2P', cursive;
}

.date-hour {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  color: white;
  font-family: 'Crete Round', serif;
  background: url(../imgs/backtest.png);
}

.date-hour div {
  margin: 1.5rem;
  text-align: center;
  border: 1px solid white;
  width: 340px;
  background-color: rgba(33, 217, 204, 0.4);
}

.date-hour h2 {
  font-weight: 1000;
  background-color: rgb(255,255,255,0.5);
  padding: 0.5rem;
}

.date-hour h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5em;
}

.date-hour hr {
  margin: 0.75rem;
  border: none;
  border-top: 5px dotted white;
}

.date-hour img {
  margin-right: 35px;
  margin-left: auto;
}

.weekday {
  letter-spacing: 2.85em;
  font-weight: 600;
  text-indent: 1.65em;
}

.day {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  line-height: 1.5em;
}

.hour {
  font-weight: 600;
  font-size: 1.75rem;
  color: #f1f1f1;
  margin-bottom: 0.5rem;
}

.scheduling-venue {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.scheduling-venue > * {
  flex: 1 100%;
}

.bullet {
  border: 1px solid #808080;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  display: block;
  margin: auto;
}

.scheduling ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.scheduling li {
  padding: 0 3rem 0.5rem 3rem;
}

.scheduling a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1rem;
}

.scheduling a:hover {
  font-weight: 800;
}

.venue {
  text-align: left;
  margin: 0 2rem 0 0.1rem;
  flex: 3 0px;
}

.aside-place {
  text-align: left;
  margin-right: 2rem;
}

.aside-place img {
  margin: 1rem 1rem 1.25rem 1rem;
}

.button {
  display: block;
  background-color: #808080;
  color: white;
  width: 150px;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 2em;
  margin: auto;
  margin-top: 0.5em;
  border-radius: 2px;
}

.button:hover {
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
}

.confirmation-form {
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 10em;
}

.photo-mosaic img {
  max-width: 100%;
}

.info-details {
  margin: 2rem 0;
}

.info-details h2 {
  margin: 1rem 0 0.5rem;
}


@media all and (min-width: 600px) {
  .article-aside { flex: 1 0 0; }
}

@media all and (min-width: 750px) {
  .venue { flex: 3 0px; }
  .aside-photo { order: 1; }
  .venue { order: 2; }
  .aside-place { order: 3; }
}
